<button class="toggle" (click)="switchTheme()">{{ theme === 'light-theme' ? 'Light Mode' : 'Dark Mode'  }}</button>
<section>
  <div class="card" (click)="invertDesign()" #design >
    <p>Design</p>
    <div class="card-invert" #cardInvertDesign>
      <div class="design">
        <p>D</p>
      </div>
      <p>
        <span>Design</span><br>
        Lorem Ipsum  gre
        is simply dummy
        text of the printing
      </p>
    </div>
  </div>
  <div class="card" (click)="invertFront()" #front>
    <p>FrontEnd</p>
    <div class="card-invert" #cardInvertFront>
      <div class="front">
        <p>F</p>
      </div>
      <p>
        <span>Front end</span><br>
        Lorem Ipsum  gre
        is simply dummy
        text of the printing
      </p>
    </div>
  </div>
  <div class="card" (click)="invertBack()" #back>
    <p>BackEnd</p>
    <div class="card-invert" #cardInvertBack>
      <div class="back">
        <p>B</p>
      </div>
      <p>
        <span>Back end</span><br>
        Lorem Ipsum  gre
        is simply dummy
        text of the printing
      </p>
    </div>
  </div>
</section>
